<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href='styles/main.css' rel='stylesheet'/>
	<title>Tank Time</title>
</head>
<body>
<div id='ui'>
	<div id='menu' class='unselectable'>
		<div class='col-5'>
			<h1>
				Tank Time
			</h1>
			<p>
				You are a tank, shoot the other tanks.
			</p>
			<input id='menuName' type='text' placeholder='Name'/>
			<button id='menuPlay' disabled='true'>Play</button>
		</div>
		<div class='col-5'>
		<table>
			<tr>
				<td><span class='key'>↑</span></td>
				<td>Forward</td>
			</tr><tr>
				<td><span class='key'>←</span></td>
				<td>Turn Left</td>
			</tr><tr>
				<td><span class='key'>→</span></td>
				<td>Turn Right</td>
			</tr><tr>
				<td><span class='key'>↓</span></td>
				<td>Backward</td>
			</tr><tr>
				<td><span class='key'>Mouse</span></td>
				<td>Aim</td>
			</tr><tr>
				<td><span class='key'>Click</span></td>
				<td>Shoot</td>
			</tr>
		</table>
		</div>
	</div>
	<div id='loading' class='unselectable' style='visibility: hidden;'>
		<div class='col-10'>
			<p>Loading...</p>
		</div>
	</div>
	<div id='hud' class='unselectable' style='visibility: hidden;'>
		<div id='hudScore' class='unselectable'></div>
		<ol id='hudLeaderboard' class='unselectable'></ol>
	</div>
</div>
<canvas id='wallsCanvas' width=1200 height=710></canvas>
<canvas id='tanksCanvas' width=1200 height=710></canvas>

<script type='text/javascript' src='socket.io.js'></script>
<script type='text/javascript' src='state-machine.js'></script>
<script type='text/javascript' src='client.js'></script>
</body>
</html>
